/* check and radio */
check, check row:selected, check row:selected:focus {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png")); }

check:backdrop, check row:selected:backdrop, check row:selected:focus:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-unfocused.png"), url("assets/checkbox-unchecked-unfocused@2.png")); }

check:disabled, check row:selected:disabled, check row:selected:focus:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-unchecked-insensitive@2.png")); }

check:disabled:backdrop, check row:selected:disabled:backdrop, check row:selected:focus:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive-unfocused.png"), url("assets/checkbox-unchecked-insensitive-unfocused@2.png")); }

check:active,  check:checked, check row:selected:active,  check row:selected:checked, check row:selected:focus:active,  check row:selected:focus:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png")); }

check:active:backdrop, check:checked:backdrop, check row:selected:active:backdrop, check row:selected:checked:backdrop, check row:selected:focus:active:backdrop, check row:selected:focus:checked:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-unfocused.png"), url("assets/checkbox-checked-unfocused@2.png")); }

check:active:disabled,  check:checked:disabled, check row:selected:active:disabled,  check row:selected:checked:disabled, check row:selected:focus:active:disabled,  check row:selected:focus:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png")); }

check:active:disabled:backdrop,  check:checked:disabled:backdrop, check row:selected:active:disabled:backdrop,  check row:selected:checked:disabled:backdrop, check row:selected:focus:active:disabled:backdrop,  check row:selected:focus:checked:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive-unfocused.png")); }

check:indeterminate, check row:selected:indeterminate, check row:selected:focus:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png")); }

check:indeterminate:backdrop, check row:selected:indeterminate:backdrop, check row:selected:focus:indeterminate:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-unfocused.png"), url("assets/checkbox-mixed-unfocused@2.png")); }

check:indeterminate:disabled, check row:selected:indeterminate:disabled, check row:selected:focus:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png")); }

check:indeterminate:disabled:backdrop, check row:selected:indeterminate:disabled:backdrop, check row:selected:focus:indeterminate:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive-unfocused.png"), url("assets/checkbox-mixed-insensitive-unfocused@2.png")); }

radio, radio row:selected, radio row:selected:focus {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png")); }

radio:backdrop, radio row:selected:backdrop, radio row:selected:focus:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-unfocused.png"), url("assets/radio-unchecked-unfocused@2.png")); }

radio:disabled, radio row:selected:disabled, radio row:selected:focus:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive.png"), url("assets/radio-unchecked-insensitive@2.png")); }

radio:disabled:backdrop, radio row:selected:disabled:backdrop, radio row:selected:focus:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive-unfocused.png"), url("assets/radio-unchecked-insensitive-unfocused@2.png")); }

radio:active,  radio:checked, radio row:selected:active,  radio row:selected:checked, radio row:selected:focus:active,  radio row:selected:focus:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png")); }

radio:active:backdrop, radio:checked:backdrop, radio row:selected:active:backdrop, radio row:selected:checked:backdrop, radio row:selected:focus:active:backdrop, radio row:selected:focus:checked:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-unfocused.png"), url("assets/radio-checked-unfocused@2.png")); }

radio:active:disabled,  radio:checked:disabled, radio row:selected:active:disabled,  radio row:selected:checked:disabled, radio row:selected:focus:active:disabled,  radio row:selected:focus:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), url("assets/radio-checked-insensitive@2.png")); }

radio:active:disabled:backdrop,  radio:checked:disabled:backdrop, radio row:selected:active:disabled:backdrop,  radio row:selected:checked:disabled:backdrop, radio row:selected:focus:active:disabled:backdrop,  radio row:selected:focus:checked:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive-unfocused.png"), url("assets/radio-checked-insensitive-unfocused@2.png")); }

radio:indeterminate, radio row:selected:indeterminate, radio row:selected:focus:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png")); }

radio:indeterminate:backdrop, radio row:selected:indeterminate:backdrop, radio row:selected:focus:indeterminate:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-unfocused.png"), url("assets/radio-mixed-unfocused@2.png")); }

radio:indeterminate:disabled, radio row:selected:indeterminate:disabled, radio row:selected:focus:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png")); }

radio:indeterminate:disabled:backdrop, radio row:selected:indeterminate:disabled:backdrop, radio row:selected:focus:indeterminate:disabled:backdrop {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive-unfocused.png"), url("assets/radio-mixed-insensitive-unfocused@2.png")); }

/* menuitem check and radio */
menuitem check {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
	color: @theme_fg_color;
	-gtk-icon-shadow: none;  }
menuitem check:active, menuitem check:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png")); }
menuitem check:indeterminate {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png")); }
menuitem check:active:hover {
	color: @theme_selected_fg_color; }
menuitem check:disabled {
	color: @insensitive_fg_color;  }
menuitem radio {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png"));
	color: @theme_fg_color;
	-gtk-icon-shadow: none;  }
menuitem radio:active, menuitem radio:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png")); }
menuitem radio:indeterminate {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png")); }
menuitem radio:hover {
	color: @theme_selected_fg_color; }
menuitem radio:disabled {
	color: @insensitive_fg_color;  }

